---
http_interactions:
- request:
    method: get
    uri: https://dor-oaiprovider-test.stanford.edu/oai?metadataPrefix=mods&set=is_governed_by_hy787xj5878&verb=ListIdentifiers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8" ?>
        <?xml-stylesheet type="text/xsl" href="https://dor-oaiprovider-test.stanford.edu/oai2.xsl" ?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2014-07-28T22:02:50Z</responseDate><request metadataPrefix="mods" set="is_governed_by_hy787xj5878" verb="ListIdentifiers">https://dor-oaiprovider-test.stanford.edu/oai</request><ListIdentifiers><header><identifier>oai:searchworks.stanford.edu/druid:jt959wc5586</identifier><datestamp>2012-02-27T23:11:50Z</datestamp><setSpec>is_member_of_jh957jy1101</setSpec><setSpec>is_member_of_collection_jh957jy1101</setSpec><setSpec>is_governed_by_hy787xj5878</setSpec></header><header><identifier>oai:searchworks.stanford.edu/druid:pd817cv1860</identifier><datestamp>2012-03-28T21:25:56Z</datestamp><setSpec>is_member_of_jh957jy1101</setSpec><setSpec>is_member_of_collection_jh957jy1101</setSpec><setSpec>is_governed_by_hy787xj5878</setSpec></header><header><identifier>oai:searchworks.stanford.edu/druid:qk487nd2690</identifier><datestamp>2013-05-22T23:38:57Z</datestamp><setSpec>is_member_of_jh957jy1101</setSpec><setSpec>is_member_of_collection_jh957jy1101</setSpec><setSpec>is_governed_by_hy787xj5878</setSpec></header></ListIdentifiers></OAI-PMH>
  recorded_at: Mon, 28 Jul 2014 22:02:50 GMT
recorded_with: VCR 2.9.2
