---
http_interactions:
- request:
    method: get
    uri: https://dor-oaiprovider-prod.stanford.edu/oai?metadataPrefix=mods&set=is_governed_by_sd064kn5856&verb=ListIdentifiers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8" ?>
        <?xml-stylesheet type="text/xsl" href="https://dor-oaiprovider-prod.stanford.edu/oai2.xsl" ?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2014-07-28T22:02:50Z</responseDate><request metadataPrefix="mods" set="is_governed_by_sd064kn5856" verb="ListIdentifiers">https://dor-oaiprovider-prod.stanford.edu/oai</request><ListIdentifiers><header><identifier>oai:searchworks.stanford.edu/druid:kv330kk7855</identifier><datestamp>2012-04-28T04:38:10Z</datestamp><setSpec>is_member_of_sg213ph2100</setSpec><setSpec>is_member_of_collection_sg213ph2100</setSpec><setSpec>is_governed_by_sd064kn5856</setSpec></header><header><identifier>oai:searchworks.stanford.edu/druid:bt970vy9251</identifier><datestamp>2012-04-28T04:38:19Z</datestamp><setSpec>is_member_of_sg213ph2100</setSpec><setSpec>is_member_of_collection_sg213ph2100</setSpec><setSpec>is_governed_by_sd064kn5856</setSpec></header><header><identifier>oai:searchworks.stanford.edu/druid:dq860ms1450</identifier><dates[...]
