---
http_interactions:
- request:
    method: get
    uri: https://dor-oaiprovider-prod.stanford.edu/oai?metadataPrefix=mods&set=is_governed_by_sd064kn5856&verb=ListRecords
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8" ?>
        <?xml-stylesheet type="text/xsl" href="https://dor-oaiprovider-prod.stanford.edu/oai2.xsl" ?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd"><responseDate>2014-07-28T22:02:51Z</responseDate><request metadataPrefix="mods" set="is_governed_by_sd064kn5856" verb="ListRecords">https://dor-oaiprovider-prod.stanford.edu/oai</request><ListRecords><record><header><identifier>oai:searchworks.stanford.edu/druid:kv330kk7855</identifier><datestamp>2012-04-28T04:38:10Z</datestamp><setSpec>is_member_of_sg213ph2100</setSpec><setSpec>is_member_of_collection_sg213ph2100</setSpec><setSpec>is_governed_by_sd064kn5856</setSpec></header><metadata><mods xmlns="http://www.loc.gov/mods/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.3" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-3.xsd">
          <titleInfo>
            <title>San Francisco, 1851</title>
          </titleInfo>
          <titleInfo type="alternative">
            <title>San Francisco, 1851</title>
          </titleInfo>
          <name type="corporate">
            <namePart>Henry Bill, New York</namePart>
            <role>
              <roleTerm type="text">publisher</roleTerm>
            </role>
          </name>
          <name type="corporate">
            <namePart>T. Sinclair&#x2019;s, Philadelphia</namePart>
            <role>
              <roleTerm type="text">lithographer</roleTerm>
            </role>
          </name>
          <name type="corporate">
            <namePart>Potter Collection</namePart>
            <role>
              <roleTerm type="text">former owner</roleTerm>
            </role>
          </name>
          <typeOfResource>still image</typeOfResource>
          <originInfo>
            <dateIssued>1851</dateIssued>
          </originInfo>
          <physicalDescription>
            <form authority="aat">Graphics</form>
            <form>color lithograph on paper</form>
            <note displayLabel="Dimensions">11-1/2 x 16-1/2 inches</note>
            <note displayLabel="Condition">good; folded in quarters lengthwise, repaired tear in right quadrant</note>
          </physicalDescription>
          <abstract displayLabel="Description">
            View north and east towards Telegraph Hill, Alcatraz, and Contra Costa, looking down on city with figures on the streets and boats in the harbor; including a key to 25 businesses and locations.  From History of the World.  &#x201C;Entered According to Act of (continued on page 2)
          </abstract>
          <identifier type="local">rd-111</identifier>
          <relatedItem type="host">
            <titleInfo>
              <title>Reid W. Dennis collection of California lithographs, 1850-1906</title>
            </titleInfo>
            <identifier type="uri">http://purl.stanford.edu/sg213ph2100</identifier>
            <typeOfResource collection="yes"/>
          </relatedItem>
          <accessCondition type="useAndReproduction">Property rights reside with the repository. Literary rights reside with the creators of the documents or their heirs. To obtain permission to publish or reproduce, please contact the Special Collections Public Services Librarian at speccollref@stanford.edu.</accessCondition>
          <accessCondition type="copyright">Copyright &#xA9; Stanford University. All Rights Reserved.</accessCondition>
        </mods>
        </metadata><about></about></record><record><header><identifier>oai:searchworks.stanford.edu/druid:bt970vy9251</identifier><datestamp>2012-04-28T04:38:19Z</datestamp><setSpec>is_member_of_sg213ph2100</setSpec><setSpec>is_member_of_collection_sg213ph2100</setSpec><setSpec>is_governed_by_sd064kn5856</setSpec></header><metadata><mods xmlns="http://www.loc.gov/mods/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.3" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-3.xsd">
          <titleInfo>
            <title>A View of the Town and Harbour of San Francisco</title>
          </titleInfo>
          <titleInfo type="alternative">
            <title>Town and Harbor, San Francisco</title>
          </titleInfo>
          <name type="personal">
            <namePart>Baker, George H.</namePart>
            <namePart type="date">1827-1906</namePart>
            <description>American</description>
          </name>
          <name type="corporate">
            <namePart>Potter Collection</namePart>
            <role>
              <roleTerm type="text">former owner</roleTerm>
            </role>
          </name>
          <typeOfResource>still image</typeOfResource>
          <physicalDescription>
            <form authority="aat">Graphics</form>
            <form>black and white lithograph on paper with later hand-coloring</form>
            <note displayLabel="Di[...]
