---
http_interactions:
- request:
    method: get
    uri: http://purl-test.stanford.edu/bb375wb8869.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"c7e2680ca3a1d497d6e46962eac8bb2d"'
      Status:
      - '200'
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<publicObject id=\"druid:bb375wb8869\" published=\"2012-01-26T16:39:44-08:00\">\n
        \ <identityMetadata>\n    <adminPolicy>druid:xs835jp8197</adminPolicy>\n    <objectCreator>DOR</objectCreator>\n
        \   <objectId>druid:bb375wb8869</objectId>\n    <objectLabel>Kitai_bb375wb8869</objectLabel>\n
        \   <objectType>item</objectType>\n    <otherId name=\"uuid\">15ffc446-25f5-11e1-b6f0-0016034322e7</otherId>\n
        \   <tag>Project : Kitai</tag>\n  </identityMetadata>\n  <contentMetadata
        type=\"image\" objectId=\"bb375wb8869\">\n    <resource type=\"image\" sequence=\"1\"
        id=\"bb375wb8869_1\">\n      <label>kitai_4</label>\n      <file mimetype=\"image/jp2\"
        format=\"JPEG2000\" size=\"8116154\" id=\"36105005868828_05_0001.jp2\">\n
        \       <imageData height=\"6007\" width=\"7175\"/>\n        <attr name=\"representation\">uncropped</attr>\n
        \     </file>\n    </resource>\n    <resource type=\"image\" sequence=\"2\"
        id=\"bb375wb8869_2\">\n      <label>kitai_4</label>\n      <file mimetype=\"image/jp2\"
        format=\"JPEG2000\" size=\"8141860\" id=\"36105005868828_05_0002.jp2\">\n
        \       <imageData height=\"6017\" width=\"7174\"/>\n        <attr name=\"representation\">uncropped</attr>\n
        \     </file>\n    </resource>\n  </contentMetadata>\n  <rightsMetadata>\n
        \   <access type=\"discover\">\n      <machine>\n        <world/>\n      </machine>\n
        \   </access>\n    <access type=\"read\">\n      <machine>\n        <group>stanford</group>\n
        \     </machine>\n    </access>\n  </rightsMetadata>\n  <rdf:RDF xmlns:fedora-model=\"info:fedora/fedora-system:def/model#\"
        xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\" xmlns:fedora=\"info:fedora/fedora-system:def/relations-external#\"
        xmlns:hydra=\"http://projecthydra.org/ns/relations#\">\n    <rdf:Description
        rdf:about=\"info:fedora/druid:bb375wb8869\">\n    </rdf:Description>\n  </rdf:RDF>\n
        \ <oai_dc:dc xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:srw_dc=\"info:srw/schema/1/dc-schema\"
        xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
        \   <dc:title>Kita&#x12D;</dc:title>\n    <dc:title>China</dc:title>\n    <dc:creator>Soviet
        Union Sovetskai&#x361;a Armii&#x361;a. General&#x2B9;ny&#x12D; shtab.</dc:creator>\n
        \   <dc:type>map</dc:type>\n    <dc:date>1968-9999</dc:date>\n    <dc:publisher>General&#x2B9;ny&#x12D;
        shtab</dc:publisher>\n    <dc:language>rus</dc:language>\n    <dc:format>maps
        : col. ; 37 x 53 cm. or smaller.</dc:format>\n    <dc:format>map</dc:format>\n
        \   <dc:description>Military topographic maps.</dc:description>\n    <dc:description>Relief
        shown by contours and spot heights. Depths shown by contours and soundings
        on some sheets.</dc:description>\n    <dc:description>Name of jurisdiction[s]
        covered by sheet quadrangle appears in upper margin at left, e.g.: Provint&#x361;sii&#x361;a
        Guandun -- Avtonomny&#x12D; ra&#x12D;on Vnutrenni&#x361;ai&#x361;a Mongolii&#x361;a,
        Provint&#x361;sii Kh&#x117;b&#x117;&#x12D;, Shan&#x2B9;si[...]
